<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        TM360
    </title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cba1af9f2e.js" crossorigin="anonymous"></script>
    <div class="nav">
        <img src="images/graduates.png" alt="" />
        <p> The <br> Management <br> 360</p>
    </div>
</head>
<body>