<%- include("partials/header"); %>
<div class="adminPage">
    <form action="/addStudent" class="student">
        <button type="submit">Add Student</button>
    </form>
    <form action="/addSchedule" class="admin">
        <button type="submit">Add Schedule</button>
    </form>
    <form action="/addIAMarks" class="student">
        <button type="submit">Add IA Marks</button>
    </form>
    <form action="/addLibraryDues" class="admin">
        <button type="submit">Add Library Dues</button>
    </form>
    <form action="/deleteStudent" class="student">
        <button type="submit">Delete Student</button>
    </form>
</div>

<%- include("partials/footer"); %>