<%- include("partials/header"); %>
<div class="delete">
    <h1>Delete Student</h1>
    <form>
        <label for="usn">
            <input type="text" name="usn" placeholder="Enter Student USN">
        </label>
        <div class="del">
            <button type="submit"> <i class="fa-solid fa-trash-can"></i></button>
        </div>
    </form>
</div>

<%- include("partials/footer"); %>