<%- include("partials/header") %>
<div class="body">
    <div class="student">
        <form action="/studentLogin" class="stuBtn">
            <button type="submit">Student</button>
        </form>
    </div>
    <div class="admin">
        <form action="/adminLogin" class="adminBtn">
            <button type="submit">Admin</button>
        </form>
    </div>
</div>
<%- include("partials/footer") %>